<% title t('.title') %>
<%= devise_error_messages! %>

<div class="well b-login-form">
    <div class="row">

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
        <div class="col-md-6">
          <h4><%=t('.title')%></h4>
          <div class="col-md-12">
            <div class="form-group">
              <%= f.text_field :first_name, :autofocus => true, class: 'form-control input-lg', placeholder: t('activerecord.attributes.user.first_name') %>
            </div>
            <div class="form-group">
              <%= f.text_field :last_name, class: 'form-control input-lg', placeholder: t('activerecord.attributes.user.last_name') %>
            </div>
            <div class="form-group">
                <%= f.email_field :email, class: 'form-control input-lg', placeholder: t('activerecord.attributes.user.email') %>
            </div>
            <div class="form-group">
                <%= f.password_field :password, class: 'form-control input-lg', placeholder: t('activerecord.attributes.user.password') %>
            </div>
            <div class="form-group">
                <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: t('activerecord.attributes.user.password_confirmation') %>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-3">
                  <%= f.submit t('devise.registrations.new.title'), :class => 'btn btn-primary btn-lg' %>
                </div>
                <div class="col-xs-9 social-login">
                  <span class="hidden-xs"><%=h t(:sign_in_through, provider: "") %></span>
                  <%= link_to image_tag("google_64.png", :border => 0, :size => "39x39", :alt => 'Google', :title => 'Google'),
                              user_omniauth_authorize_path(:google_oauth2), :class => 'auth_provider' %>
                  <%= link_to image_tag("facebook_64.png", :border => 0, :size => "39x39", :alt => 'Facebook', :title => 'Facebook'),
                              user_omniauth_authorize_path(:facebook), :class => 'auth_provider' %>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-offset-1 registration-info">

          <%= t('.info').html_safe %>

        </div>

        <% end %>
    </div>
</div>