<% p = product %>
<div class="col-sm-6 col-lg-3 col-md-4">
  <div class="thumbnail">
    <div class="cover text-center">
      <%= link_to def_img(p, 'thumb'), product_path(p.friendly_id) %>
    </div>
    <div class="caption">
      <div class="desc">
        <h4><%= link_to truncate("#{p.name} #{p.model}", length: 75), product_path(p.friendly_id) %></h4>
        <%= rating p, :count => true %>
      </div>
      <div class="row">
        <div class="col-xs-4"><%= exch_price p.price %></div>
        <div class="col-xs-8">
          <%= button_to shopping_cart_path(:product_id => p), :class => 'btn btn-primary pull-right', :method => :post do %>
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><%= t('helpers.links.buy') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>