<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">

        <%= link_to image_tag('admin-icon.png', :border => 0, :alt => 'Admin', :width => 25, :height => 25),
                    "/#{params[:locale]}/admin/", :class => 'navbar-brand' %>

      </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if active_class(admin_categories_path) %>"><%= link_to t('activerecord.models.category', :count => 0), admin_categories_path %></li>
        <li class="<%= 'active' if active_class(admin_users_path) %>"><%= link_to t('activerecord.models.user', :count => 0), admin_users_path %></li>
        <li class="<%= 'active' if active_class(admin_products_path) %>"><%= link_to t('activerecord.models.product', :count => 0), admin_products_path %></li>
        <li class="<%= 'active' if active_class(admin_feedbacks_path) %>"><%= link_to t('activerecord.models.feedback'), admin_feedbacks_path %></li>
        <li class="<%= 'active' if active_class(admin_vendors_path) %>"><%= link_to t('activerecord.models.vendor', :count => 0), admin_vendors_path %></li>
		<li class="<%= 'active' if active_class(admin_orders_path) %>"><%= link_to t('activerecord.models.order', :count => 0), admin_orders_path %></li>
        <li class="<%= 'active' if active_class(admin_news_index_path) %>"><%= link_to t('activerecord.models.news', :count => 0), admin_news_index_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
              <%= I18n.locale %> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <% if I18n.locale != :en %> <li><%= link_to '<i class="fa fa-angle-right"></i> '.html_safe + 'English', :locale=>'en'%></li> <% end %>
              <% if I18n.locale != :ru %> <li><%= link_to '<i class="fa fa-angle-right"></i> '.html_safe + 'Русский', :locale=>'ru'%></li> <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
              <i class="fa fa-gear fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <% if user_signed_in? %>
                  <li><%= link_to '<i class="fa fa-user fa-fw"></i> '.html_safe + t('helpers.links.profile'), edit_user_registration_path %></li>
                  <li><%= link_to '<i class="fa fa-sign-out fa-fw"></i> '.html_safe + t('logout'), destroy_user_session_path, :method=>'delete' %></li>
              <% else %>
                  <li><%= link_to '<i class="fa fa-sign-in"></i>  '.html_safe + t('sign_in'), new_user_session_path %></li>
                  <li><%= link_to '<i class="fa fa-user-plus"></i> '.html_safe + t('devise.registrations.new.title'), new_user_registration_path %></li>
              <% end %>
            </ul>
          </li>
      </ul>
    </div>

  </div>

</nav>
